{% extends "layout.html" %}

{% set active_page = "index" %}

{% block title %}Index{% endblock %}

{% block content %}
<title>State Fragility</title> 

<h1>State Fragility</h1> 
<p>This site is about State Fragility, which judges how stable a country is, it judges it based off factors like the loss of its territory or the states inability to collect taxes or if it commits genocide or has group based inequality. The Fragile States Index is what judges a states fragility which you can find here:</p> 
<p><a href="https://fragilestatesindex.org/"> </a></p> 
<p><a href="https://www.systemicpeace.org/warlist/warlist.htm">However the data from the CORGIS Dataset Projects rates based off the CSP rankings of state Fragility, which you can find by clicking this text. </a></p>
<p>The information in this website dates from 1995-2018 and has every country in the world. The information for this website comes from the CORGIS Dataset Project.</p>
<p>In this website you will find a lot of statistics, one of which being the main Fragility Index which is judged 0/25, with the lowest being better. The lowest is always better for all of the statistics here and all other statistics are out of 3 aside from effectiveness score which is out of 13 and legitmacy score which is out of 12. The economic effectiveness is also out of 4, these are the only outliers though as the rest are out of 3.</p> 
<p>This is all you need to know about the data and statistics you will find in this website.</p>


{% endblock %}