{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
	<head>
        <title>Country Fragility</title>
    </head>
    <body id="body1">

        <form action="/showFragility">
          <select name="country">
            {{ state_options }}
          </select>
          <br><br>
          <input type="submit" value="See Country Fragility.">
        </form>
        <div id="Fragility">
            <p>{{ Fragility1 }}</p>
			<p>{{ Fragility2 }}</p>
        </div>

    </body>
{% endblock %}
