{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
	<head>
        <title>Country Fragility</title>
    </head>
    <body id="body1">

        <form action="/showFragility">
          <select name="country">
            {{ country_options }}
          </select>
          <br><br>
			<select name ="year">
			{{ year_options }}
			</select>
			<br><br>
            <input type="submit" value="See Country Fragility.">
        </form>
        <div id="Fragility1">
            <p>{{ Fragility1 }}</p>
        </div>

    </body>
{% endblock %}
